/*================root color============*/
:root {
    --nav-bg: #ff0000;
    --hover-color: #0000ff;
    --background-light: #eadddd;
    --text-light: #000000;
    --background-dark: #1e1e2f;
    --text-dark: #ffffff;
  }
  
  body {
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /*================theme change============*/
  body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  
  .toggle-container {
    position: fixed;
    top: 4rem;
    right: 1rem;
    cursor: pointer;
  }
  
  .toggle-container svg {
    width: 40px;
    height: 40px;
    background-color: var(--nav-bg);
    border-radius: 50%;
    fill: var(--text-light);
    transition: fill 0.3s ease;
    box-shadow: 3px 3px 4px black;
    border: 2px solid black;
  }
  
  body.dark-mode svg {
    fill: var(--text-dark);
  }
  
  /*================theme change end============*/
  
  /*================root color end============*/
  * {
    margin: 0;
    padding: 0;
  }
  
  /*================nav bar============*/
  .nav_bar_container {
    display: flex;
    box-shadow: 3px 3px 4px black;
    justify-content: space-between;
    background-color: #2e2e3f;
  }
  
  .nav_bar_container svg {
    padding: 10px;
  }
  
  /*================nav bar end============*/
  #home_section img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid var(--nav-bg);
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 4px black;
  
    &:hover {
      box-shadow: 3px 3px 7px var(--hover-color);
    }
  }
  
  #home_section {
    text-align: center;
    margin: 20px;
  }
  
  #home_section h2 {
    text-shadow: 2px 2px 4px black;
    color: var(--nav-bg);
    font-size: 1.4rem;
  }
  
  /*================about section============*/
  #about_section {
    margin: 50px;
    display: none;
    text-align: center;
  }
  
  #about_section h2 {
    text-shadow: 2px 2px 4px black;
    color: var(--nav-bg);
    font-size: 2rem;
    margin: 20px;
  }
  
  #about_section p {
    font-weight: bold;
  }
  
  #about_section svg {
    background-color: var(--nav-bg);
    border-radius: 50%;
    padding: 5px;
  }
  
  /*================about section end============*/
  
  /*================notification section ============*/
  @media(max-width:750px){
    #dot{
      left: 210px;
      top: 10px;  
      
    }

  }
  
  #dot {
    border-radius: 50%;
    background-color: var(--nav-bg);
    width: 12px;
    height: 12px;
    position: fixed;
    left: 200px;
    top: 10px;
    display: none;
  }
  
  #notification_section {
    margin: 50px;
    display: none;
    text-align: center;
  }
  
  #notification_section h2 {
    text-shadow: 2px 2px 4px black;
    color: var(--nav-bg);
    font-size: 2rem;
    margin: 20px;
    margin-bottom: 30px;
  }
  ul {
    list-style-type: none;
    padding: 10px;
}

li {
    background: #f4f4f4;
    margin: 20px;
    color: black;
    padding: 15px;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
    position: relative;
}

button.delete {
    position: absolute;
    padding: 5px;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
    right: 1px;
    top: 1px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
    background: #e74c3c;
    &:hover{
      background-color: var(--hover-color);
    }
    
}

  /*================notification section end============*/
  
  /*================social section============*/
  #social_section {
    margin: 50px;
    display: none;
    text-align: center;
  }
  
  #social_section img {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 4px black;
    border: 3px solid var(--nav-bg);
    border-radius: 20px;
  
    &:hover {
      box-shadow: 3px 3px 7px var(--hover-color);
    }
  }
  
  .social_bio {
    margin: 30px;
  }
  
  #social_section h2 {
    text-shadow: 2px 2px 4px black;
    color: var(--nav-bg);
    font-size: 2rem;
    margin: 20px;
  }
  
  #social_section svg {
    background-color: var(--nav-bg);
    border-radius: 50%;
    padding: 5px;
  }
  
  #social_section p {
    font-weight: bold;
  
  }
  
  /*================social section end============*/
  
  /*================mobile view============*/
  @media (max-width:850) {
    .nav_bar_container svg {
      width: 38px;
    }
  
    #dot {
      border-radius: 50%;
      background-color: var(--nav-bg);
      width: 12px;
      height: 12px;
      position: fixed;
      left: 210px;
      top: 10px;
      display: none;
    }
  
  
  
  }
  
  /*================mobile view end============*/