/*================root color============*/
:root {
  --nav-bg: #ff0000;
  --hover-color: #0000ff;
  --background-light: #eadddd;
  --text-light: #000000;
  --background-dark: #1e1e2f;
  --text-dark: #ffffff;
  }

body {
  background-color: var(--background-light);
  color: var(--text-light);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*================theme change============*/
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.toggle-container {
  position: fixed;
  top: 4rem;
  right: 1rem;
  cursor: pointer;
}

.toggle-container svg {
  width: 40px;
  height: 40px;
  background-color: var(--nav-bg);
  border-radius: 50%;
  fill: var(--text-light);
  transition: fill 0.3s ease;
  box-shadow: 3px 3px 4px black;
  border: 2px solid black;
}

body.dark-mode svg {
  fill: var(--text-dark);
}

/*================theme change end============*/

/*================nav-bar============*/
.nav_bars{
  background-color: #2e2e3f;
}
.nav_bars svg{
  padding: 5px;
}

/*================nav-bar end============*/



/*================root color end============*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px black;
  color: var(--nav-bg);
  font-size: 2rem;
  margin: 20px;
  margin-bottom: 30px;
}
form{
  text-align: center;
}

form, ul {
  max-width: 600px;
  margin: auto;
}

textarea {
 padding: 10px;
  width: 300px;
  height: 200px;
}

button {
  padding: 10px 20px;
  background: var(--nav-bg);
  box-shadow: 3px 3px 4px black;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bolder;
  border-radius: 10px;
  margin-top: 20px;
  &:hover{
    background-color: var(--hover-color);
  }
}

label{
  color: var(--nav-bg);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*notification display end==================*/