/*root=====================*/
:root {
    --nav-bg:#ff0000;
    --hover-color:#0000ff;
    --background-light:  #eadddd;
    --text-light: #000000;
    --background-dark: #1e1e2f;
    --text-dark: #ffffff;
  }
  /*root end=====================*/

*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#add8e6,#6a5acd );
    background-size: cover;
    background-repeat: no-repeat;
}

/*form=====================*/
.form_section{
    margin-top: 200px;
 justify-content: center;
 align-items: center;
 margin-bottom: 200px;
    
}
form{
    box-shadow: 3px 3px 4px black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0,0,0.4);
}
form h2{
text-shadow: 3px 3px 4px black;
color: var(--nav-bg);
font-size: 3rem;
margin-top: 50px;
margin-bottom: 50px;
}
input{
    width: 300px;
    height: 23px;
    box-shadow: 3px 3px 4px black;
    border-radius: 10px;
    padding: 6px;
    &::placeholder{
        font-size: large;
    }
    &:hover{
        box-shadow: 3px 3px 4px var(--hover-color);
        
    }
}

label{
    text-shadow: 3px 3px 4px black;
    color: var(--nav-bg);
    font-size: large;
    font-weight: bold;
    
}

form p{
color: var(--text-dark);
font-weight: bold;
font-size: large;
margin-bottom: 30px;
}
form a{
    text-decoration: none;
    color: var(--nav-bg);
    text-shadow: 3px 3px 4px black;
    font-weight: bold;
    font-size: larger;
    &:hover{
        color: var(--hover-color);
        padding: 5px;
    }
}
form button{
border-radius: 10px;
background-color: var(--nav-bg);
color: var(--text-dark);
padding: 5px;
box-shadow: 3px 3px 4px black;
font-size: large;
font-weight: bold;
&:hover{
    background-color: #0000ff;
    padding: 7px;
}
}
/*form end=====================*/
